body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #667eea, #764ba2);
}

.container{
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: center;
}

h1{
    color: black;
    margin-bottom: 30PX;

}

input{
    width: 60px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: 2px solid white;
    border-radius: 8px;

}

label{
    font-weight: bold;
    color: #555;
}

button{
    margin-top: 28px;
    padding: 12px 40px;
    font-size: 22px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#result{
    margin-top: 30px;
    padding: 20px;
    font-size: 24px;
    border-radius: 12px;
    min-height: 100px;
}